<%= simple_form_for([@curso,@estudiante], :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>
<%= f.error_notification %>
 
  <%= f.input :nombre, :label => "Nombre",  :required => true %>
  <%= f.input :apellidos, :label => "apellidos",  :required => true %>
  <%= f.input :cedula, :label => "cedula",  :required => true %>
  <%= f.input :telefono, :label => "telefono",  :required => true %>
  <%= f.input :email, :label => "Email",  :required => true %>
  <%= f.input :direccion, :label => "Direccion",  :required => true %>
  <%= f.input :fch_nacimiento, as: :date, start_year: Date.today.year - 50, end_year: Date.today.year - 10, accept_day: true, order: [:day, :month, :year] %>
  <%= f.label :curso %>   
 <%= f.collection_select :curso_id, Curso.all, :id, :nombre %>
  
  <div class="form-actions">
    <%= f.submit "guardar", :class => 'btn btn-primary' %>
    <%= link_to 'Atras', curso_estudiantes_path, :class => 'btn btn-small' %>
  </div>
<% end %>

