<tr id=<%= "instructor_#{instructor.id}" %>>
  <td><%= link_to instructor.id, edit_instructor_path(instructor), :remote => true %></td>
  <td><%= image_tag instructor.avatar.url(:lsmall) %> <%= instructor.nombres %></td>
  <td><%= instructor.nombres %></td>
  <td><%= instructor.apellidos %></td>
  <td><%= instructor.cedula %></td>
  <td><%= instructor.email %></td>
  <td><%= instructor.direccion %></td>
  <td><%= instructor.telefono %></td>
  <td><%= instructor.fch_nacimiento %></td>
  <td><%= instructor.materia_id %></td>
  <td>
    <%= link_to 'Mostrar', instructor, :remote => true, :class => 'btn btn-mini' %>
    <%= link_to 'Editar', edit_instructor_path(instructor), :remote => true,
        :class => 'btn btn-mini' %>
    <%= link_to 'Eliminar', instructor, 
        :data => { :confirm => 'Esta Seguro?' },
        :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger' %>
  </td>
</tr>